.upcoming {
    margin-top: 5rem;
    }

.foo {
    padding-top: 25rem;
}

figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 245px;
    height: 220px;  
    position: relative;
    margin-bottom: 2.5rem;
    border-radius: 3px;
}

figcaption {
    position: absolute;
    top: 103%;
    display: inline-block;
    width: 100%;
    text-align: center;
    left: 0;
}